@import "tailwindcss";

@theme {
  /* กำหนดค่า Keyframes */
  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  --animate-fade-up: fade-up 0.3s ease-out forwards;
  
}