@import "tailwindcss";

@theme {
  @keyframes slide-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  /* กำหนดค่า Keyframes */
  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-right {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
  }


  --animate-fade-up: fade-up 0.3s ease-out forwards;
  --animate-menu-slide: slide-left 0.7s ease-out forwards;
  --animate-item-fade: fade-up 0.6s ease-out forwards;
  --animate-menu-exit: slide-right 0.9s ease-in forwards;
  
}